<div id="<%= dom_id book_loan %>">
    <h1><%= book_loan.book %></h1>
    <p>
        <strong>Title:</strong>
        <%= book_loan.user %>
    </p>

     <p>
        <strong>Title:</strong>
        <%= book_loan.loan_date %>
    </p>

     <p>
        <strong>Title:</strong>
        <%= book_loan.return_date %>
    </p>

     <p>
        <strong>Title:</strong>
        <%= book_loan.status %>
    </p>


</div>