<div id="<%= dom_id book_request %>">
        <h1><%= book_request.user %></h1>
        <p>
            <strong>Title:</strong>
            <%= book_request.user %>
        </p>

        <p>
            <strong>Title:</strong>
            <%= book_request.isbn %>
        </p>

        <p>
            <strong>Title:</strong>
            <%= book_request.title %>
        </p>

        <p>
            <strong>Title:</strong>
            <%= book_request.publisher %>
        </p>

        <p>
            <strong>Title:</strong>
            <%= book_request.published_date %>
        </p>

        <p>
            <strong>Title:</strong>
            <%= book_request.category %>
        </p>

        <p>
            <strong>Title:</strong>
            <%= book_request.status %>
        </p>


</div>